{% from "./macros.html" import FlashMessage with context %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Formulário de Glicemia</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/pricing/">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/pricing.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <style>
    form{
      
      text-align: center;
      
    }


    nav {
      box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.77);
    }



  </style>

    <body style="min-width: fit-content;">
      <!-- NAVBAR -->
      
      <nav class="navbar navbar-light bg-light" style="width:100%">
        <h5 class="my-0 mr-md-auto font-weight-normal"><img src={{ url_for('static', filename='img/heart.png' ) }} width="48px" style= "padding-bottom: 5px;"></h5>
        <form class="form-inline">
          <a href="https://api.whatsapp.com/send?phone=+557488562207"><img src="/static/img/whatsapp_logo.png" width="38px" style="padding-left: 10px;padding-right: 10px;width: 60px;"></a>
          <a href="https://t.me/Cardiohumana"><img src="/static/img/telegram_logo.png" width="30px" style="padding-left: 10px;padding-right: 10px;width: 50px;"></a>
          <a href="mailto:cardiologiahumanajacobina@gmail.com?Subject=Título%20da%20mensagem"><img src="/static/img/email_colorido.png" width="35px" style="padding-left: 12px;padding-right: 10px;width: 56px;"></a>
        </form>
      </nav>


      
      <!-- MÉTODO DE ENTRADA -->
      <!-- GLICEMIA -->
      <div class="container" style="width:500px;">
        <!-- MEIO -->
        <div class="pricing-header px-2 py-3 pt-md-2 pb-md-4 mx-auto text-center">
          <h1 class="display-5">Informações</h1>
          <p></p>
          <h5>O preenchimento deste formulário deve manter a ordem de coleta dos resultados.</h5>
          <p>1º - Preencher a Pressão Arterial Residencial</p>
          <p>2º - Preencher a Glicemia</p>
          <p>3º - Assinalar qual período a Glicemia foi aferida</p>
          <p>4º - Clicar no botão "ENVIAR"</p>
          <h5>Caso tenha alguma dúvida, entre em contato conosco.</h5>
        </div>

        

        <div class="card box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Glicemia</h4>
          </div>
          <div class="card-body">
            <form action="{{ url_for('formulario_glicemia',cpf=cpf) }}" method="POST" enctype="multipart/form-data">
              {{ form.csrf_token }}
              
              {{ form.glicemia(class="form-control",placeholder="Escreva o valor aqui") }}
              <p></p>
              {% if form.errors.glicemia %}
              
            <div class="alert alert-danger" role="alert">
              {{ form.errors.glicemia }}
            </div>
            {% endif %}
            {{ form.dado(style="list-style:none") }}
            <button type="submit" class="btn btn-success btn-block">Enviar</button>
            {{ FlashMessage() }}
            </form>
          </div>
        </div>
        <br/>
        <a href="{{ url_for('login',cpf=cpf) }}"><button style="width:470px; background: #069cc2; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px;">Voltar para a página de Login</button></a>
      </div>
    </body>
</html>